.grid-1column {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-2column {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-3column {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-4column {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    
}
body {
    background-color: wheat;
    color: black;
    
  }

