/** (0,1,0)**/
.button1{
    background-color: black;
    color:white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    top:3em;
    right:2em;
    }
    /** (0,1,0)**/
.cuerpo{
    text-align: center;

}
/** (0,1,0)**/
.espacio {
    padding: 0.5em;
            }

            table{
                width: 100%;
                margin: 0 auto;
                color:white;
                background-color: transparent;
            }

/** (0,0,1)**/
label{
    color:white;
    background-color: transparent;
}