main {
    display: block;
    padding: 20px;
    color: #000;
    background-color: wheat;
    font: 400 13px Tahoma, sans-serif;
    width: 275px;
    height: 300px;
    border-radius: 25px;
}

input[type="text"] {
    width: 75%;
    padding: 15px 30px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 1px;
    text-align: left;
    color: #000;
    background: #ccc;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: black;
    border: none;
    color: white;
    padding: 7px 11px;
    font-size: 17px;
    min-width: 23%;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 70%;
}