/* a=0 b=0 c=1 -> Especificidad = 001 */
section ul {
  color: #000;
  background-color: #dae1e7;
  list-style-type: none;
  margin: 2px;
  padding: 0;
  text-align: center;
}
section ul li {
  background-color: #dae1e6;
  color: black;
  margin: 1em;
  font: 400 20px Tahoma, sans-serif;
}
/* a=0 b=0 c=1 -> Especificidad = 001 */
div section ul {
  color: #000;
  background-color: #dae1e7;
  list-style-type: none;
  margin: 2px;
  text-align: center;
  float: left;
  position: relative;
}
