.grid-2column {
    display: grid;
    grid-template-columns: 25% auto;
    width: 99vw;
    height: 89vh;
    background-color: wheat;
    border-bottom-color: black;
    border-bottom-style: dotted;
    color:transparent;
}

body{
    margin: 0px;
}

header{
    background-color: rgb(102, 122, 134);
    background-size: cover;
    text-align: center;
    padding: 1em;
    border-bottom: 0.2em;
    border-bottom-color: black;
    border-bottom-style: double;
    color:transparent;
}

nav{
    background-color: rgb(184, 225, 241)      ;
    border-right: 0.2em;
    border-right-color: black;
    border-right-style: double;
    color:transparent;
}

a{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

li{
    list-style-type: none;
}

section{
    text-align: center;
}

label{
    color:black;
    background-color: transparent;
}
p{
    color:black;
    background-color: transparent;
}