body{
    background-color: #9ec6ee;
    color: #9ec6ef;
	font: 400 15px Tahoma, sans-serif;
}
h1, h2, h3, p{
    text-align:center;
    color:black;
    background-color: #fffffe 
}
button{
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: #1973a0;
    border-radius: 6px;
    border: 2px solid #061694;
}
textarea{
    width:200px;
    height:25px;
    border: 2px solid #1414d3;
}
tr, td{
    background-color:white;
    color: black;
}
