body{
    background-color: #bbccdd;
    color: black;
	font: 400 15px Tahoma, sans-serif;
}
h1{
    text-align:center;
    background-color: #fffffe;
    color:black;
}
h2{
    text-align:center;
    background-color: #fffffe;
    color:black;
}
p{
    color:black;
    background-color: #fffffe;
	font-size:18px;
}