/* a=0 b=0 c=1 -> Especificidad = 001 */
ul {
  color: #000;
  background-color: #dae1e7;
  list-style-type: none;
  margin: 20px;
  padding: 0;
  text-align: center;
}
ul li {
  background-color: #dae1e6;
  color: black;
  margin: 1em;
  font: 400 20px Tahoma, sans-serif;
}
