/** (0,0,0)**/
* {
    box-sizing: border-box;
}
/** (0,1,0)**/
.centrar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/** (0,0,1)**/
h2 {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size-adjust: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom-color: white;
    margin: 0;
    text-align: center;
}

/** (0,0,1)**/
p {
    font-size: 1em;
    padding-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-color: white;
    margin: 0;
    text-align: center;
}
