/** (0,0,1)**/
body {
    flex-flow: row wrap;
    font: 400 15px Tahoma, sans-serif;
    color: white;
    background-color: #333;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 100%;
    padding: 3em;
    text-align: left;
    height: 100%;
}
/** (0,0,1)**/
html {
    background-color: #333;
    color: transparent;
}
/** (0,0,1)**/
footer {
    margin-top: -1em;
    margin-left: 5em;
    margin-right: 3em;
    text-align: center;
    border-style: solid;
    background-color: #333;
    color:white;
    position: absolute;
    bottom: 0;
    width: 82%;
    
}
/** (0,0,2)**/
footer > p{
    font-size: 1em;
    padding-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-color: white;
    margin: 0;
    text-align: center;

}
/** (0,0,2)**/
h2::first-letter {
    color: rgb(255, 53, 62);
    background-color: transparent;
    font-size: 1.75em;
}

/** (0,0,2)**/
nav ul {
    overflow: hidden;
  }
  
  /** (0,0,3)**/
  nav ul li {
    float: left;
    list-style-type: none;
  }
  
  /** (0,0,3)**/
  nav li a {
    list-style-type: none;
    display: block;
    color: white;
    background-color: #ffffff00;
    text-align: center;
    padding: 2px 6px;
    text-decoration: none;
    box-shadow: 2px 2px white;
    transition: all 0.2s linear;
    font-size: 18px;
  }