body {
    font: 400 15px Tahoma, sans-serif;
    color: black;
    background-color: #f5deb3;
    margin: 0.5em;
}

h1 {
    background-color: #f5deb2;
    color: black;
    text-align: center;
}
p {
    background-color: #f5deb2;
    color: black;
    text-align: center;
}
canvas {
    margin: auto;
    display: block;
    width: 700px;
}