/* a=0 b=0 c=1 -> Especificidad = 001 */
header {
  background-color: #ffa5a5;
  color: #fcdada;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 3px;
}
/* a=0 b=0 c=1 -> Especificidad = 001 */
header * {
  display: inline;
}
/* a=0 b=0 c=2 -> Especificidad = 002 */
header li {
  background-color: #ffa5a5;
  color: black;
  margin: 20px;
}
/* a=0 b=0 c=2 -> Especificidad = 002 */
nav ul {
  background-color: #ffa5a5;
  color:#ffa5a4;
}
/* a=0 b=0 c=1 -> Especificidad = 001 */
body {
  font: 400 12px Tahoma, sans-serif; /*Familia sans-serif*/
  line-height: 1.8;
  color: #00000000;
  background-color: #dae1e7;
}
/* a=0 b=0 c=1 -> Especificidad = 001 */
h1 {
  background-color: #00909e;
  color: #000;
  text-transform: uppercase;
  padding: 100px 15px;
  text-align: center;
  margin-top: 80px;
}
/* a=0 b=0 c=1 -> Especificidad = 001 */
h2 {
  background-color: #00909e;
  color: #000;
  text-transform: uppercase;
  padding: 10px 15px;
  text-align: left;
  margin-top: 70px;
  position: relative;
}
/* a=0 b=1 c=1 -> Especificidad = 011 */
h1.dif {
  background-color: #00909e;
  color: #000;
  text-transform: uppercase;
  padding: 10px 15px;
  text-align: left;
  margin-top: 70px;
  position: relative;
}
/* a=0 b=1 c=1 -> Especificidad = 011 */
h2.dif {
  background-color: #00909e;
  color: #000;
  text-transform: uppercase;
  padding: 10px 15px;
  text-align: left;
  right: 2em;
}
/* a=0 b=0 c=2 -> Especificidad = 002 */
section h2.indice {
  background-color: #00909e;
  color: #000;
  text-transform: uppercase;
  padding: 0.5em 1em;
  text-align: left;
  margin: 2em;
  position: relative;
  left: 11em;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
p {
  position: relative;
  margin-right: 200px;
  left: 3em;
}
/* a=0 b=0 c=1 -> Especificidad = 001 */
section {
  font: 400 20px Tahoma, sans-serif;
  color: #000;
  background-color: #dae1e7;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fcdada;
  color: white;
  text-align: center;
}
/* a=0 b=0 c=1 -> Especificidad = 002 */
footer p {
  background-color: #fcdada;
  color: black;
}
